@tailwind base;
@tailwind components;
@tailwind utilities;

.background-color,
.ant-drawer-wrapper-body {
  color: #333333;

  background: rgb(134, 168, 147);
  background: -moz-linear-gradient(
    0deg,
    rgba(134, 168, 147, 1) 0%,
    rgba(210, 227, 200, 1) 55%,
    rgba(235, 243, 232, 1) 99%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(134, 168, 147, 1) 0%,
    rgba(210, 227, 200, 1) 55%,
    rgba(235, 243, 232, 1) 99%
  );
  background: linear-gradient(
    0deg,
    rgba(134, 168, 147, 1) 0%,
    rgba(210, 227, 200, 1) 55%,
    rgba(235, 243, 232, 1) 99%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#86a893",endColorstr="#ebf3e8",GradientType=1);
}
